
/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 9999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 105px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -50px;
}

/* top line LOADER */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #F44C67;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 100%;
    width: 100%;
    height:5px;
}

/* Global Styles */
body,html {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
    background: transparent;
    color: #29282b;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}

.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

::-moz-selection{ color: #fff; background:#29282b; }
::-webkit-selection{ color: #fff;    background:#29282b; }
::selection{ color: #fff;    background:#29282b; }

a{
    color: #999;
    text-decoration: none;
}
a:hover{
    color: #29282b;
    cursor: pointer;
}
a:hover,a:focus{
    -moz-outline: none;
    outline: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #29282b;
    letter-spacing: 2px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
.img-responsive{
    margin: 0 auto;
    width: auto;
}
.section{
    padding:100px 0px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.relative{
    position: relative;
}
.bold{
    font-weight: 400;
}
.hint{
    color: #999;
    font-size: 13px;
}
/* title Section */
.titleSection{
    clear: both;
    margin-bottom: 80px;
    text-align: center;
}
.titleSection h2{
    margin-top: 0px;
}
.titleSection p{
    max-width: 550px;
    margin: 0 auto;
}
/* line */
.coloredLine{
    margin:20px auto 0px;
    width: 40px;
    border-bottom: 1px solid #a0ce4e;
}
/* buttons */
.btn-new{
    max-width: 250px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;       
    background: #F44C67;
    display: inline-block;
    padding: 15px 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    border: none;
}
.btn-new:hover,.btn-new:focus{
    background: #FC647B;
    color: #fff;
    text-decoration: none;
    outline: none;
}
/* margin spaces */
.space10 {
    margin-bottom: 10px;
}
.space20 {
    margin-bottom: 20px;
}
.space30 {
    margin-bottom: 30px;
}
.space40 {
    margin-bottom: 40px;
}
.space50 {
    margin-bottom: 50px;
}
.space60 {
    margin-bottom: 60px;
}
.space70 {
    margin-bottom: 70px;
}
.space80 {
    margin-bottom: 80px;
}
.space90 {
    margin-bottom: 90px;
}
.space100 {
    margin-bottom: 100px;
}

/* Header and nav --------------------------------------------------- */
.logo{
    display:inline-block;
}
.logo img{
    max-width: 100%;
}
.slogan{color:#333; float:left; font-family: 'Nothing You Could Do',cursive; font-size:13px; margin-left:15px; margin-top:15px;}
.sticky-navigation {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background:transparent;
    border: none;
    padding:10px 0 !important;
    margin-bottom: 0 !important;
    -webkit-backface-visibility: hidden;
    top:0px;
}
.NavBg{
    background:rgba(255,255,255,0.9);  
}
.nav-logo{
    padding: 0px 15px;
    height: 50px;
    overflow: hidden;
}
.nav-logo:focus{
    outline: none;
}
.nav-logo img{
    height: 100%;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-nav {
    float: left;
    margin: 0px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-nav li a {
    padding: 10px;
    line-height: 30px;
    font-size: 15px;
    color: #999;
    position: relative;
    background: transparent !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.navbar-nav li a:focus{
    outline: none;
}
.navbar-nav li.active a,.navbar-nav li a:hover {
    color:#29282b;
}
.navbar-toggle{
    padding: 5px 10px;
    margin-right: 10px;
}
/* intro ---------------------------------------------------------------- */

#intro{
    background: #f1f1f1;
    padding: 200px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.intro-mobile {
    position: absolute;
    left: 0px;
    bottom:-250px; /* negtivae value of section bottom padding */
    max-width: 50%;
}
.downloads a{
    display: inline-block;
    margin-right: 10px;
}
.downloads a:last-child{
    margin-right: 0px;
}
#intro .price {
    background: rgba(0, 0, 0, 0) url("../images/light-arrow.png") no-repeat scroll center top;
    clear: both;
    margin-top: 15px;
    margin-left:-170px;
    text-align: center;
    padding-top:50px;
}
@media only screen and (max-width : 767px) 
{
    #intro .price{
        margin-left:0;
    }
}

#intro .price p {
    color: #1f1f1f;
    font-family: "Nothing You Could Do",cursive;
    font-size: 20px;
}
/* screenshots ---------------------------------------------------------------- */
.screenshot-image{
    background:url("../images/bg.jpg") no-repeat top center scroll #fff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;      
}
.downloadNumber{
    background: #f44c67;
    color: #fff;
    display: inline-block;
    padding:10px 30px;
    font-size:24px;
}
.overlay {
    background: none repeat scroll 0 0 rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom:600px;
}
.gradient{
    background: url("../images/gradient.png") repeat-x top center;
    position: absolute;
    width: 100%;
    top:-200px;
    height: 200px;
}
.slider-3d{
    margin-top: -580px;
    padding-bottom:200px;
}
.slider-3d > div{
    margin: 0 auto;
}
.allinone_carousel.sweet .elementTitle{
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
.allinone_carousel.sweet .contentHolderUnit{
    -moz-box-shadow:1px -2px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:1px -2px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:1px -2px 10px 0px rgba(0, 0, 0, 0.5);
}

/* overview ---------------------------------------------------------------- */
#overview{
    background: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: center;
}
.bigIcon{
    color: #F44C67;
    font-size: 50px;
    margin-bottom: 20px;
}

/* features ---------------------------------------------------------------- */
#features{
    background:#f1f1f1;
    border-top: 1px solid #eee;
    text-align: center;
}
.leftFeatures,.rightFeatures{
    margin-top: 50px;
}

/* app-brief1 ---------------------------------------------------------------- */

.left-mob-front{
    position: absolute;
    left: 12%;
    margin: 0px auto;
    top:-40px;
    z-index: 2;
}
.left-mob-back {
    position: absolute;
    left:0px;
    top:-20px;
    z-index: 1;
}
.rightList li{
    padding-bottom: 10px;
    position: relative;
}
.rightList li i{
    position: absolute;
    top: 8px;
    left: 0px;
    font-size: 14px;
}
.rightList li span{
    padding-left: 30px;
}
#app-brief1{
    background: #F2F2F2;
}
.right-mob-front{
    position: absolute;
    right: 12%;
    margin: 0px auto;
    top:-40px;
    z-index: 2;
}
.right-mob-back {
    position: absolute;
    right:0px;
    top:-20px;
    z-index: 1;
}

/* subscription-form ---------------------------------------------------------------- */

#download {
    text-align: center;
    background:url("../images/pattern.png") repeat;
}
.downloadLogo{
    width: 100px;
    display: inline-block;
    position: relative;
    top: -5px;
}

#download hr{
    margin: 80px auto 70px;
}
.downloadtxt{
    margin-top: 200px;
    line-height: 60px;
}
.subscription-form .input-box {
    width: 320px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    border: 1px solid #FFF;
    margin: 0px;
}
.bigWord{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.subscription-form .subscription-success,
.subscription-form .subscription-error {
    display: none;
}

#download .price {
    background: rgba(0, 0, 0, 0) url("../images/light-arrow.png") no-repeat scroll center top;
    clear: both;
    margin-top: 15px;
    margin-left:-25px;
    text-align: center;
    padding-top:50px;
}

#download .price p {
    color: #1f1f1f;
    font-family: "Nothing You Could Do",cursive;
    font-size: 20px;
}

/* Testimonial ---------------------------------------------------------------- */
#testimonials{
	background:#f1f1f1;
}
.feedback-box {
    background-color: #fff;
    border-radius: 10px;
	max-width:90%;
    position: relative;
}
.feedback-box .feedback {
    padding: 10px;
}
.feedback-box .person {
    bottom: -80px;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    white-space: nowrap;
    left: 40px;
}
.feedback-box .person img {
    border-radius: 100px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    width: 60px;
}
.feedback-box .person .info {
    display: inline-block;
    vertical-align: middle;
}
.feedback-box .person strong {
    color: #3b4c5c;
    display: block;
    font-weight: inherit;
    line-height: 1;
}
.feedback-box .person em {
    font-size: 12px;
	color:#8392a0;
	margin-top:50px;
}
.feedback-box > .down-arrow {
    bottom: -36px;
    color: #fff;
    font-size: 60px;
    left: 53px;
    position: absolute;
}
/* Count Down ---------------------------------------------------------- */
#coundown{
	 background-attachment: fixed;
	 background-position: center center;

}
.counter-section  .bigIcon{
	font-size:60px;
}
.counter-section  h1{
	font-size:45px;
}
.counter-section  h1, .counter-section h3{
	color:#fff;
}
#coundown::before{background: rgba(3, 3, 3, 0.9) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;}

/* Footer ---------------------------------------------------------- */
footer {
    background:#29282b;
    text-align: center;
    padding: 30px 0 20px 0px;
}
footer hr{
    border-color: #181819;
}
footer p{
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}
footer p a,footer p a:hover,footer p a:focus {
    color: #fff;
}
.socialList li{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
.socialList li a{
    display: inline-block;
    color: #fff;
    margin: 0px 20px;
}
.socialList li a span{
    margin-left: 10px;
}
.socialList li a:hover{
    color: #F44C67;
}

/* ----------------------------------------------------------------------
TIMELINE
-------------------------------------------------------------------------*/

.timeline {
    margin-bottom: 60px;
}
.timeline,
.timeline-circles {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    background-color: #ccc;
    bottom: 0;
    content: " ";
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 4px;
}
.timeline-circles:before,
.timeline-circles:after {
    background-color: #ccc;
    border-radius: 10px;
    content: " ";
    height: 20px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
}
.timeline-circles:before {
    top: -25px;
}
.timeline-circles:after {
    bottom: -40px;
}
.timeline li.timeline-date {
    margin-bottom: 25px;
	margin-top: 25px;
}
/*.timeline li:not(.timeline-date) {
	margin-top: -36%;
}
body.device-sm .timeline li:not(.timeline-date) {
	margin-top: -52%;
}*/

.timeline li:nth-child(2) {
    margin-top: 0 !important;
}
.timeline li:before,
.timeline li:after {
    content: " ";
    display: table;
}
.timeline li:after {
    clear: both;
}
.timeline-date {
    background-color: #eee;
    border-radius: 6px;
    color: #888;
    display: block;
    font-size: 16px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
.timeline li .timeline-block {
    padding: 0 10px;
    position: relative;
    width: 48%;
	margin-bottom:20px;
	text-align:right;
}
.timeline.timeline-transparent .timeline-block .post-item {
    background-color: #fff;
    padding: 20px;
}
/** panel arrows **/
.timeline .post-title h3{
	margin-top:0;
}
.timeline li .timeline-block:before {
    position: absolute;
    top: 8px;
    right: -4%;
    display: inline-block;
    border-top: 15px solid transparent;
    border-right: 15px solid #ccc;
    border-left: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline li .timeline-block .timeline-block-content {
    height: 100% !important;
    overflow: hidden;
}
.timeline-block-content h3 {
    margin-top: 0;
}
.timeline-block-image,
.timeline-block-embed {
    border-bottom: 5px solid #ddd;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.timeline-block-image {
    max-height: 200px;
}
.timeline-block-image img {
    margin-top: -10%;
    width: 100%;
}
.timeline-block-image iframe {
    width: 100%;
    height: 100%;
}
.timeline li.right .timeline-block {
    padding: 20px 0 0 10px;
    float: right;
	text-align:left;
}
.timeline li.right .timeline-block:before {
    border-right-width: 0;
    border-left-width: 15px;
    left: -4%;
    right: auto;
    top: 22px;
}
.timeline li.right .timeline-block:after {
    border-left-width: 0;
    border-right-width: 15px;
    left: -4%;
    right: auto;
}
/*Responsive*/

body.device-xs .timeline:before,
body.device-xs .timeline-circles:before,
body.device-xs .timeline-circles:after,
body.device-xs .timeline li:not(.timeline-date)::before,
body.device-xxs .timeline:before,
body.device-xxs .timeline-circles:before,
body.device-xxs .timeline-circles:after,
body.device-xxs .timeline li:not(.timeline-date)::before {
    left: 0;
}
body.device-xs .timeline-date,
body.device-xxs .timeline-date {
    margin-left: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
body.device-xs .timeline li .timeline-block,
body.device-xxs .timeline li .timeline-block {
    float: left;
    margin-left: 10px;
    width: 100% !important;
    padding-left: 10px;
}
body.device-xs .timeline li .timeline-block,
body.device-xxs .timeline li .timeline-block,
body.device-xs .timeline li:nth-child(2n+1) .timeline-block,
body.device-xxs .timeline li:nth-child(2n+1) .timeline-block {
    padding: 20px 10px 0 20px;
}
body.device-xs .timeline li .timeline-block:before,
body.device-xxs .timeline li .timeline-block:before {
    left: -8px;
    right: auto;
    border-left-width: 15px;
    border-right-width: 0;
}
body.device-xs .timeline li .timeline-block:after,
body.device-xxs .timeline li .timeline-block:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
body.device-xs .timeline.timeline-simple .timeline-date,
body.device-xxs .timeline.timeline-simple .timeline-date {
    margin-left: -1px;
}
.timeline-block .date {
    color: #999;
    font-size: 12px;
    margin-top: 2px;
}
.timeline-block ul {
    clear: both;
    font-size: 12px;
    list-style: outside none none;
    padding: 10px 0 0 0;
}
.timeline-block ul li {
    color: #525252;
}
.timeline-block ul li span {
    display: block;
    float: right;
    font-size: 10px;
    font-weight: bold;
    margin:0 0 5px 10px;
}
.right .timeline-block ul li span {
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin:0 10px 5px 0;
}
.timeline-block ul li.new span b {
    background: #1fa3e0 none repeat scroll 0 0;
}
.timeline-block ul li.fix span b {
    background: #6bbd43 none repeat scroll 0 0;
}	
.timeline-block ul li span b {
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: bold;
    min-width: 35px;
    padding: 2px 6px 1px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 1px;
}
/*timeline*/
.timeline.timeline-colored .timeline-circles:before, .timeline.timeline-colored .timeline-circles:after, .timeline.timeline-colored .timeline-date, .timeline.timeline-colored:before {
	background-color: #6bbd43 ;
	color: #fff;
}
.timeline.timeline-colored li .timeline-block:before {
	border-color: transparent #6bbd43 ;
}
.timeline.timeline-colored .timeline-block-image {
	border-color: #6bbd43 ;
}
.timeline.timeline-colored.timeline-simple .timeline-date {
	background-color: #fff;
	border: 1px solid #6bbd43 ;
	color: #6bbd43 ;
}
/* News Feed ----------------------------------------------------------------- */
ul.feeds{padding:0; display:inline-block;}
.feeds li{list-style-type:none; margin-bottom:30px; display:inline-block;}
.feeds li img{width:100%; border-radius:50%;}
.feeds .title{float:left; clear:both;}
.feeds li .name, .feeds li .time{float:left; font-weight:bold; font-size:12px;}
.feeds li .time a{color:#319ebc !important;}
.feeds li .time::before{content:"|"; margin:0 10px;}
/* responsive style ----------------------------------------------------------------- */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .downloadtxt{
        margin-top: 20px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #intro{
        text-align: center;
    }
    #intro,.section{
        padding: 100px 0px;
    }
    .overlay{
        padding-top: 100px;
        padding-bottom: 400px;
    }
    .slider-3d{
        margin-top: -380px;
        padding-bottom: 100px;
    }
    .intro-mobile {
        position: static;
        max-width: 300px;
    }
    .phones{
        position: relative;
        width: 100%;
        max-width: 600px;    
        height: 400px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .left-mob-front{
        right: 0px;
        left: auto;
        max-width: 100%;
        top: 0px;
    }
    .left-mob-back{
        left: -30px;
        max-width: 100%;
        top: 0px;   
    }
    .right-mob-front{
        left: 0px;
        right: auto;
        max-width: 100%;
        top: 0px;
    }
    .right-mob-back {
        right: -30px;
        max-width: 100%;
        top: 0px;  
    }

    .leftFeatures{
        margin-top: 0px;
        margin-bottom: 50px;
    }
    #features .text-left,#features .text-right{
        text-align: center !important;
    }
    .mg-sm-100{
        margin-bottom: 100px;
    }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .navbar-collapse {
        max-height: 355px !important;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        border-top: 1px solid transparent;
    }
    .navbar-nav{
        width: 100%;
    }
    h1{
        font-size: 30px;
    }
    .subscription-form .input-box {
        margin: 0px auto 20px;
        width: 80%;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .downloads a{
        margin: 5px;
    }

    .left-mob-front,.left-mob-back,.right-mob-front,.right-mob-back{
        max-width: 80%;
    }
    .slogan{display:none;}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}